html {
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
}

 .darkMode {
     position: absolute;
     right: 1%;
     top: 65%;
     transform: translateY(-50%);
 }


